PORT=3000
HOST=0.0.0.0
LOG_LEVEL=INFO
CORS_ORIGIN=*

MAX_CONCURRENCY=4
MIN_DELAY_MS=800
MAX_DELAY_MS=3500
REQUEST_BUDGET_MS=55000
MAX_ATTEMPTS_PER_REQUEST=4

PROXY_LIST=

MRSCRAPER_USERNAME=
MRSCRAPER_PASSWORD=
MRSCRAPER_HOST=proxy.mrscraper.com
MRSCRAPER_PORT=10000
MRSCRAPER_SESSION_TEMPLATE={username}-sessid-{session}

PROXY_COOLDOWN_MS=120000

PROXY_BACKEND=mrscraper
PHONE_RELAY_ENABLED=false
PHONE_RELAY_LOCAL_PORT=8899
PHONE_RELAY_TOKEN=
PHONE_RELAY_MAX_STREAMS_PER_PHONE=1
PHONE_RELAY_OPEN_TIMEOUT_MS=15000
PHONE_RELAY_RENDER_TIMEOUT_MS=45000

HEADLESS=true
